@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
* {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: "Rubik Dirt", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

img {
    width: 100%;
    height: 100%;
}

 main section {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    font-weight: 800;
    animation: scroll 2s ease;
    animation-timeline: view(10%);
    animation-range: entry 0;
}

/* main:hover section {
    opacity: 0.1;
}

main section:hover {
    opacity: 1;
} */

section:nth-child(even) {
    background: linear-gradient(to bottom left, #000 50%, #eb0c0c 50%);
    color: #f0e6e6;
}

section:nth-child(odd) {
    background: linear-gradient(to bottom right, #eb0c0c 50%, #000 50%);
    color: #f0e6e6;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background:#0a0a0a;
}

nav a {
    position: relative;
    color: aliceblue;
    text-decoration: none;
    padding: 8px 25px;
    font-size: 1.5em;
    text-transform: uppercase;
    display: inline-block;
}

nav a:hover,
section#first-section:hover~nav a[href="#first-section"],
section#second-section:hover~nav a[href="#second-section"],
section#third-section:hover~nav a[href="#third-section"],
section#fourth-section:hover~nav a[href="#fourth-section"],
section#fifth-section:hover~nav a[href="#fifth-section"] {
    background: linear-gradient(to  bottom right, #000 50%, #eb0c0c 50%);
    color: #f0e6e6;
}

nav a:active {
    background: linear-gradient(to top left #eb0c0c 50%, #000 50%);
}

::-webkit-scrollbar{
    display: none;
}

#home {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#home h1 {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #0a0a0a;
    color: #ff0000;
    font-size: 2.2em;
    line-height: 310px;
    text-align: center;
    mix-blend-mode: screen;
    font-family: "Rubik Dirt", system-ui;
    font-weight: 550;
    font-style: normal;
    /* animation: videotext 6s ease-in-out forwards; */
}

#about {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

#about div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 150px;
}

#about p {
    padding: 50px;
    width: 50%;
    text-align: center;
    font-size: 28px;
    line-height: 40px;
    font-weight: 400;
    font-style: normal;
}
#about img {
    padding: 50px;
    width: 50%;
}
















@keyframes scroll {
    0% {
        opacity: 0;
        scale: 0.5;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes videotext {
    0% {
        opacity: 1;
        scale: 1.1;
    }
    100% {
        opacity: 0;
        scale: 0.2;
    }
}